
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 230px;
    background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-title{
    display: flex;
    gap: 15px;
    align-items: center;
    text-align: center;
font-size: 20px;
font-weight: 700;
color: #0B0223; 
}
nav span{
    color:#FF42A5;

}
.nav-title > img {
    width: 85px;
    height: 40px;
}
.nav-about,.follow > h2{
    display: flex;
    align-items: center;
    gap: 30px;
    color: #3C354F;
text-align: center;
font-size: 18px;
font-weight: 500;

}
.nav-about > a,.follow{
  text-decoration: none;
  color: #3C354F;
}
.follow{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
   background: rgba(11, 2, 35, 0.10);
   width: 262px;
height: 56px;


}
.follow > img{
    width: 30px;
    height: 25px;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.banner-info{
    background-image: url(images/Group\ 14.png);
    background-repeat: no-repeat;
    width:900px;
    height: 700px;
    display: flex;
      flex-direction: column;
    align-items: center;
   justify-content: center;
}
.banner-title{
    color: #0B0223;
text-align: center;
font-size: 48px;
font-weight: 600;
}
.banner-title span{
    text-align: center;
font-size: 80px;
font-weight: 800;
color:#8758F1 ;


}

.banner-info ul,.gamer{
    list-style:none ;
    color: #534C64;
text-align: start;
font-size: 20px;
font-weight: 500;

}
li > img{
    margin-right: 10px;
}
.btn-primary{
    margin-top: 30px;
}

.btn-1{
    color: #FFF;
font-size: 20px;
padding: 21px 40px;
border: 0; 
font-weight: 600;
    border-radius: 48px;
background:  #FF42A5;
margin-right: 20px;
}
.btn-2{
    color: #FFF;
font-size: 20px;
font-weight: 600;
border: 0;
    border-radius: 48px;
background: #4EC5F7;
    padding: 21px 40px;

}
.banner-img{
    padding-right: 240px;
}
.gamer{
    display: flex;
    align-items: center;
    text-align: right;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 55px 240px;
}

.gamer-title{
font-size: 48px;
font-weight: 700;
color: #F948B2
}

.purpose{
    color: #534C64;
font-size: 32px;
font-weight: 700;
line-height: 45px;
}
.purpose > small{
    color: #534C64;
font-size: 24px;
font-weight: 500;
}









@media screen and (min-width:425px) and (max-width:576px) {

    nav,.gamer{
        flex-direction: column;
        padding: 0;
        
    }
    .nav-about{
        margin-top: 30px;
        flex-direction: column;
    
    }
    .follow{
        margin-top: 30px;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .banner-info{
        width: 400px;
        height: 500px;
        margin: 45px 120px;
    
    }
    .banner-img {
        padding: 0;
     margin-top: 80px;
    }
    .banner-img > img{
        width: 300px;
    }
    .gamer{
        text-align: center;
    }
   .gamer-img > img{
    width: 400px;
   }



}




@media screen and (min-width:768px) and (max-width:1024px) {
    nav{
        padding: 20px;
    }
  .banner,.gamer{
        flex-direction: column;}
.banner-info{
            width:700px;
        }
 .banner-img{
    padding: 0;
 }
 .gamer{
    text-align: center;
 }
 .gamer-img > img{
    width: 700px;
 }
 .gamer-container{
    width: 700px;
 }
}